:root {
    --defaultborderradius: .5rem;
}

body {
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.jumbotron {
    border-radius: 0;
}

.card {
    margin: 0 0 20px 0;
    border-radius: var(--defaultborderradius);
    appearance: none;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card-body {
    background-color: lightgrey;

}

ul {
    list-style: none;
}

li {
    text-align: center;
    border-radius: var(--defaultborderradius);
    list-style: none;
}


.form-input {
    border-radius: var(--defaultborderradius);
}

.search-btn, .clear-btn {
    border-radius: var(--defaultborderradius);
}

.search-btn:hover, .clear-btn:hover {
    background-color: rgb(180, 180, 180);
}